{% extends 'base/index.html' %}

    {% block content %}

        <div class="header-bar">
            <a href="{% url 'tasks' %}">&#8592; Back</a>
        </div>

         <div>{{ form.non_field_errors }}</div>

        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}

                {% for f in form %}
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                {% endfor %}

                <input class="button" type="submit" value="Submit">
            </form>
        </div>
    {% endblock %}